div {
  width: 100%;
  max-width: 350px;
  border: solid 3px #E05DBE;
  padding:10px;
  margin: auto;
  margin-top:50px;
  background: pink;
}
button{
  background-color: #EFA7DC;
  border: 1px solid pink;
  width: 50px;
  color: #AA1C85;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12%;
}
#multi,#div,#suma,#resta,#punto,#clear,#igual {
    background-color: #E05DBE;

}
body{
  background-color:white

}

p{
background-color: white;
text-align: right;
height: 30px;
padding-right: 20px;
padding-top: 10px;
color: #9E3182;


}
