
#fuente1,#fuente2,#fuente3,#fuente4{
  display: inline-block;
  margin-left: 150px;
  margin-right: auto;
  padding: 14px 40px;

}

#video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}


#video1,#video2,#video3,#imagen{
  display: inline-block;
  margin-left: 143px;
  margin-right: auto;


  /*margin-right: auto;*/
}

body {
  background-color: black;
}
